<?xml version="1.0"?>
<!--
/**
 * Herfox_SalesForce extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Herfox
 * @package        Herfox_SalesForce
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Herfox_SalesForce>
            <version>1.0.0</version>
        </Herfox_SalesForce>
    </modules>
    <global>
        <fieldsets>
            <customer_account>
                <mobile>
                    <create>1</create>
                    <update>1</update>
                </mobile>
                <account_id>
                    <to_order>*</to_order>
                </account_id>
            </customer_account>

            <customer_address>
                <locality>
                    <to_quote_address>*</to_quote_address>
                </locality>
                <industry>
                    <to_quote_address>*</to_quote_address>
                </industry>
                <account_id>
                    <to_quote_address>*</to_quote_address>
                </account_id>
            </customer_address>

            <checkout_onepage_quote>
                <account_id>
                    <to_customer>*</to_customer>
                </account_id>
            </checkout_onepage_quote>

            <checkout_onepage_billing>
                <locality>
                    <to_customer>*</to_customer>
                </locality>
                <account_id>
                    <to_order>*</to_order>
                </account_id>
            </checkout_onepage_billing>

            <sales_convert_quote>
                <account_id>
                    <to_order>*</to_order>
                </account_id>
            </sales_convert_quote>

            <sales_convert_quote_payment>
                <way_to_pay>
                    <to_order_payment>*</to_order_payment>
                </way_to_pay>
            </sales_convert_quote_payment>

            <sales_convert_quote_address>
                <locality>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </locality>
                <industry>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </industry>
            </sales_convert_quote_address>

            <sales_convert_order>
                <account_id>
                    <to_order>*</to_order>
                </account_id>
            </sales_convert_order>

            <sales_copy_order_billing_address>
                <locality>
                    <to_order>*</to_order>
                </locality>
            </sales_copy_order_billing_address>

            <sales_copy_order_shipping_address>
                <locality>
                    <to_order>*</to_order>
                </locality>
            </sales_copy_order_shipping_address>

            <sales_convert_order_address>
                <locality>
                    <to_quote_address>*</to_quote_address>
                </locality>
            </sales_convert_order_address>

        </fieldsets>
        <helpers>
            <herfox_salesforce>
                <class>Herfox_SalesForce_Helper</class>
            </herfox_salesforce>
        </helpers>
        <blocks>
            <herfox_salesforce>
                <class>Herfox_SalesForce_Block</class>
            </herfox_salesforce>
        </blocks>
        <models>
            <herfox_salesforce>
                <class>Herfox_SalesForce_Model</class>
                <resourceModel>herfox_salesforce_resource</resourceModel>
            </herfox_salesforce>
            <herfox_salesforce_resource>
                <class>Herfox_SalesForce_Model_Resource</class>
                <entities>
                    <prospect>
                        <table>herfox_salesforce_prospect</table>
                    </prospect>
                    <product>
                        <table>herfox_salesforce_product</table>
                    </product>
                    <price>
                        <table>herfox_salesforce_price</table>
                    </price>
                    <discount>
                        <table>herfox_salesforce_discount</table>
                    </discount>
                </entities>
            </herfox_salesforce_resource>
        </models>
        <resources>
            <herfox_salesforce_setup>
                <setup>
                    <module>Herfox_SalesForce</module>
                    <class>Herfox_SalesForce_Model_Resource_Setup</class>
                </setup>
            </herfox_salesforce_setup>
        </resources>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <Herfox_SalesForce_Model_Observer>
                        <type>singleton</type>
                        <class>herfox_salesforce/observer</class>
                        <method>createOpportunity</method>
                    </Herfox_SalesForce_Model_Observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <customer_save_after>
                <observers>
                    <Herfox_SalesForce_Model_Observer>
                        <type>singleton</type>
                        <class>herfox_salesforce/observer</class>
                        <method>updateCustomer</method>
                    </Herfox_SalesForce_Model_Observer>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <Herfox_SalesForce_Model_Observer>
                        <type>singleton</type>
                        <class>herfox_salesforce/observer</class>
                        <method>updateCustomerAddress</method>
                    </Herfox_SalesForce_Model_Observer>
                </observers>
            </customer_address_save_after>
        </events>
    </global>
    <default>
        <payment>
            <creditquota>
                <active>1</active>
                <model>herfox_salesforce/creditquota</model>
                <order_status>processing</order_status>
                <title>Cupo de Crédito</title>
            </creditquota>
            <oncredit>
                <active>1</active>
                <model>herfox_salesforce/oncredit</model>
                <order_status>processing</order_status>
                <title>A Crédito</title>
            </oncredit>
            <cash>
                <active>1</active>
                <model>herfox_salesforce/cash</model>
                <order_status>processing</order_status>
                <title>Efectivo</title>
            </cash>
        </payment>
    </default>
    <frontend>
        <routers>
            <Herfox_SalesForce>
                <use>standard</use>
                <args>
                    <module>Herfox_SalesForce</module>
                    <frontName>herfox_salesforce</frontName>
                </args>
            </Herfox_SalesForce>
        </routers>
        <layout>
            <updates>
                <herfox_salesforce>
                    <file>herfox_salesforce.xml</file>
                </herfox_salesforce>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <herfox_salesforce>
                    <file>herfox_salesforce.xml</file>
                </herfox_salesforce>
            </updates>
        </layout>
        <translate>
            <modules>
                <Herfox_SalesForce>
                    <files>
                        <default>Herfox_SalesForce.csv</default>
                    </files>
                </Herfox_SalesForce>
            </modules>
        </translate>
        <global_search>
            <prospect>
                <class>herfox_salesforce/adminhtml_search_prospect</class>
                <acl>herfox_salesforce</acl>
            </prospect>
            <product>
                <class>herfox_salesforce/adminhtml_search_product</class>
                <acl>herfox_salesforce</acl>
            </product>
            <price>
                <class>herfox_salesforce/adminhtml_search_price</class>
                <acl>herfox_salesforce</acl>
            </price>
            <discount>
                <class>herfox_salesforce/adminhtml_search_discount</class>
                <acl>herfox_salesforce</acl>
            </discount>
        </global_search>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <herfox_salesforce>
                                            <title>Herfox - All</title>
                                        </herfox_salesforce>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Herfox_SalesForce before="Mage_Adminhtml">Herfox_SalesForce_Adminhtml</Herfox_SalesForce>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <fieldsets>
            <customer_dataflow>
                <locality>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </locality>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <crontab>
        <jobs>
            <sync_products>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>herfox_salesforce/observer::sync</model>
                </run>
            </sync_products>
        </jobs>
    </crontab>
</config>
